* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    color: #081D77;
}

.wrap {
    width: 100%;
    height: 100vh;
    background-image: url("angielski_cas_0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0, -10%;

}



.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    border: 2px solid #081D77;
    background-color: rgba(120, 120, 120, 0.5)
}

button.start {
    height: 40px;
    width: 150px;
    font-family: arial;
    font-size: 22px;
    background-color: red;
    margin-top: 20px;
}

.word {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;

}

h1 {
    text-align: center;
    height: 60px;
    width: 200px;
    line-height: 60px;
    font-size: 25px;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 21%;
    font-size: 31px;

}

.number {
    color: green;
    background-color: #888;
}

.wrap-form {
    width: 100%;
    height: 35%;
    background-color: rgba(120, 120, 120, 0.9);
}

form {
    width: 100%;
    height: 100%;

    margin: 15px auto
}

label {
    font-size: 18px;
}

input {
    font-size: 15px;
}

button.check {
    height: 40px;
    width: 150px;
    font-family: arial;
    font-size: 22px;
    background-color: red;
    margin-top: 20px;
    margin-left: 350px;
}

button.next {
    height: 40px;
    width: 150px;
    font-family: arial;
    font-size: 22px;
    background-color: red;
    margin-top: 20px;
}

.correct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgba(120, 120, 120, 0.9);
}

.solution {
    width: 20%;
    height: 60px;
    background-color: red;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

.solution:first-child {
    margin-left: 120px;
}

.solution:last-child {
    margin-right: 15px;
}