* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
  color: rgb(56, 72, 139);
}

.wrap {
  width: 100%;
  height: 100vh;
  background-image: url(bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0, -10%;
}

.bg-wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.7);
}

header h1 {
  font-size: 40px;
}

header .btn-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  right: 10px;
  width: 200px;
  height: 50px;
  transform: translateY(-50%);
  background-color: #00afd1;
  border-radius: 50px;
  padding: 6px;
  cursor: pointer;
}

.btn-list p {
  font-size: 19px;
  text-transform: uppercase;
  padding: 5px;
  z-index: 999;
}

.btn-list .circle-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 196, 236);
  border-radius: 50px;
  transition: width 0.3s;
}

.circle-icon i {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  font-size: 35px;
  color: white;
}

.btn-list:hover .circle-icon {
  width: calc(100% - 10px);
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 80px auto;
  width: 70%;
  height: 60%;
  background-color: rgba(120, 120, 120, 0.5);
  box-shadow: 49px 49px 49px 49px rgba(0, 0, 0, 0.75);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 50px;
  font-family: arial;
  padding: 7px;
  background-color: #f27835;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.btn p {
  font-size: 24px;
  padding: 10px;
}

.circle-start {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #f59965;
  border-radius: 50px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #00afd1;
  cursor: pointer;
}

.btn:hover .circle-start {
  background-color: rgb(0, 196, 236);
}

.word {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
}

.word h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 60px;
  width: 400px;
  font-size: 32px;
  border: 1px solid black;
  background-color: transparent;
  transition: background-color 0.5s;
}

h1.active {
  background-color: rgba(0, 146, 239, 0.6);
  border: 2px solid black;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 21%;
  font-size: 31px;
  border: 1px solid black;
  background-color: transparent;
  overflow: hidden;
  transition: background-color 0.5s;
}

.score.active {
  background-color: rgba(0, 146, 239, 0.6);
  border: 2px solid black;
}

.number {
  transform: translateX(-100px);
  color: black;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}
.number.active {
  transform: translateX(0px);
  opacity: 1;
}

.wrap-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: rgba(20, 20, 20, 0.5);
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
  margin: 15px auto;
}

label {
  position: relative;
  width: 28%;
}

input {
  outline: none;
  border: 1px solid rgb(0, 146, 239);
  height: 50px;
  font-size: 25px;
  width: 100%;
  padding: 0 0 0 30px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s;
}
label span {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  font-weight: bold;
  text-transform: uppercase;
  color: #f59965;
  transform: translateY(-47px) scale(1.3);
  transition: color 0.5s;
}

input:focus {
  border: 2px solid #f59965;
}

input:focus + span {
  color: rgb(0, 146, 239);
}

.wrap-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

i.fa-redo-alt {
  transition: transform 0.3s;
}

.btn:hover i.fa-redo-alt {
  transform: rotate(100deg);
}

.correct {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: rgba(20, 20, 20, 0.5);
}

.solution {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  font-size: 30px;
  color: black;
  transition: background-color 0.3s;
}

.solution.active {
  background-color: rgba(0, 146, 239, 0.6);
  border: 2px solid black;
}

.error {
  background-color: red;
}

.done {
  background-color: green;
}
